.gameover-container {
    padding: 0px 20px 100px 20px;
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    gap: 60px;
    position: relative;
}

.gameover-text {
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;

    color: var(--deep-dark-purple);
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}