.login-container {
    height: 90vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.title {
    width: 100%;
    text-align: center;
    color: transparent;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    padding-top: 50px;
}

.title span {
    color: var(--light-pink);
}

.title span:nth-child(2) {
    color: var(--deep-dark-purple);
}

.form {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 60px;
    position: relative;
    align-items: center;
    justify-content: center;
}