.scoreboard-container {
	background: url("../../assets/background_scoreboard.png");
	background-size: cover;

	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	overflow: -moz-hidden-unscrollable;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Arcade", monospace;
	color: #ffff00;
}

.scoreboard-title-container {
	width: 100%;
	padding: 30px 0 20px 0;
	text-align: center;
}

.scoreboard-title {
	font-family: "Press Start 2P", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	letter-spacing: 4px;
	color: #5ce1e6;
	text-shadow: 4px 4px 0px #73257b;
	margin: 20px 0;
}

.timer-container {
	background: url("../../assets/clock-bg.png");
	background-size: cover;
	height: 600px;
	width: 220px;
	position: fixed;
	top: -40px;
	right: 130px;
	z-index: 2;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	transform: rotate(-35deg);
}

.logo {
	position: fixed;
	height: 30px;
	top: 105px;
	left: 105px;
}

.scoreboard-timer {
	padding-bottom: 80px;
	padding-right: 10px;
	font-size: 50px;
	font-weight: bold;
	color: #c54d4f;
	transform: rotate(35deg);
}

.scoreboard-table-container {
	width: 90%;
	max-width: 1200px;
	overflow-x: auto;
	backdrop-filter: blur(8px);
	border-radius: 5%;
}

.loading-container {
	color: #ffff00;
	font-size: 24px;
	text-align: center;
	margin-top: 50px;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
}

.scoreboard-title {
	animation: blink 2s infinite;
}
