.scoreboard-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 6vh 3vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: transparent;
    gap: 0.5rem;
    background: url("../../assets/background.png") no-repeat center center fixed;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.logo {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 4rem;
    left: 4rem;
    width: 100%;
    max-width: 100px;
    min-width: 70px;
    border-radius: 4rem;
}

.scoreboard-timer {
    color: black;
    text-align: center;
    font-family: "Roboto";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 2.5rem;
    right: 10rem;

    /* new styles */
    border: 2px solid #00196E   ; 
    background-color: #CEEDF6;
    border-radius: 50%; 
    padding: 1rem; 
    width: 5.5rem; 
    height: 5.5rem; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}


.scoreboard-title-container {
    display: flex;
    padding: 2.1875rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.75rem;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.scoreboard-title {
    display: flex;
    width: 20rem;
    height: 1rem;
    flex-direction: column;
    justify-content: center;

    color: black;
    text-align: center;
    font-family: "Roboto";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.label-rank {
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    border: 5px solid #00196E;
    background: #00196E;
}

.label-name-scoreboard {
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    border: 5px solid #00196E;
    background: #00196E;
}

.label-correct-answer {
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    border: 5px solid #00196E;
    background: #00196E;
}

.label-score {
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    border: 5px solid #00196E;
    background: #00196E;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .teams-info-container {
        width: 95%;
        height: 90%;

        border-radius: 0.25rem;
        background: rgba(133, 158, 116, 0.20);  
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}


td {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

table {
    width: 80%;
    z-index: 1000;
    background-color: rgba(140, 140, 136, 0.13);
    padding: 1rem;
    border-radius: 1rem;
}

table td:nth-child(1) {
    width: 5%;
}

table td:nth-child(2) {
    width: 60%;
}

table td:nth-child(3) {
    width: 10%;
}

table td:nth-child(4) {
    width: 10%;
}

.label-rank,
.label-name-scoreboard,
.label-correct-answer,
.label-score {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}