.container {
    height: 90vh;
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    padding: 20px 5px 5px;
    position: relative;
}

.scoreboard-title {
    height: 46px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat';
    word-wrap: break-word;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    color: var(--deep-dark-purple);
}

.teams-info-container {
    width: 80%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    position: relative;
}