.container {
    height: 90vh;
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    padding: 50px 5px 20px;
    position: relative;
}

.team-info {
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.team-name,
.question,
.question-number {
    height: 46px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat';
    word-wrap: break-word;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.team-name {
    color: var(--dark-purple);
    font-weight: 600;
}

.question-counter-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    gap: 10px;
}

.question {
    color: var(--deep-dark-purple);
    font-weight: 500;
}

.question-number {
    color: var(--deep-dark-purple);
    font-weight: 400;
}

.question-container {
    padding: 0px 20px 100px 20px;
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    gap: 60px;
    position: relative;
}

.question-text {
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;

    color: var(--deep-dark-purple);
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.answers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 30px 0px;
    position: relative;
}

.answer-row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    gap: 140px;
    position: relative;
}