.loading-text {
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 600;
    word-wrap: break-word;

    color: var(--deep-dark-purple);
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}