.team-info {
    width: 95%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    position: relative;
    padding-bottom: 5px;
}


.team-info-text {
    color: var(--green-white);
    text-align: center;
    font-family: "Harding Text Web";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.team-info-text-2 {
    color: var(--dark-green);
    text-align: center;
    font-family: "Harding Text Web";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.team-rank  {
    display: flex;
    width: 5%;
    height: 1.875rem;
    padding: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 3.75rem;
    border: 3px solid var(--dark-green);
    background: var(--green);
}

.team-name-scoreboard  {
    display: flex;
    width: 70%;
    height: 1.875rem;
    padding: auto;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1.25rem;
    border: 3px solid var(--dark-green);
    background: var(--golden);
}

.team-correct-answer {
    display: flex;
    width: 10%;
    height: 1.875rem;
    padding: auto;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 1.25rem;
    border: 3px solid var(--dark-green);
    background: var(--skin);
}

.team-score  {
    display: flex;
    width: 10%;
    height: 1.875rem;
    padding: auto;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 1.25rem;
    border: 3px solid var(--dark-green);
    background: var(--skin);
}
