.team-info-text-1 {
    color: #1E541E;
    text-align: center;
    font-family: "Harding Text Web";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-info-text-2 {
    color: var(--White, #FFF9FE);
    text-align: center;
    font-family: "Harding Text Web";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-rank  {
    border-radius: 3.75rem;
    border: 3px solid var(--Dark-Green, #70785D);
    background: rgba(227, 245, 226, 0.80);
}

.team-name-scoreboard  {
    border-radius: 1.25rem;
    border: 3px solid var(--Dark-Green, #70785D);
    background: rgba(11, 9, 18, 0.62);
}

.team-correct-answer {
    border-radius: 1.25rem;
    border: 3px solid var(--Dark-Green, #70785D);
    background: #E3F5E2;
}

.team-score  {
    border-radius: 1.25rem;
    border: 3px solid var(--Dark-Green, #70785D);
    background: #394539;
}

.team-rank, .team-name-scoreboard, .team-correct-answer, .team-score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}