.team-info-text-1 {
    color: black;
    text-align: center;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-info-text-2 {
    color: white;
    text-align: center;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-rank  {
    border-radius: 3.75rem;
    border: 3px solid black;
    background: #E8C548;
}

.team-name-scoreboard  {
    border-radius: 1.25rem;
    border: 3px solid black;
    background: #E8C548;
}

.team-correct-answer {
    border-radius: 1.25rem;
    border: 3px solid black;
    background: #E8C548;
}

.team-score  {
    border-radius: 1.25rem;
    border: 3px solid black;
    background: #E8C548;
}

.team-rank, .team-name-scoreboard, .team-correct-answer, .team-score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}