.scoreboard-table {
	width: 100%;
}

.header-row th {
	padding: 12px 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffe700;
}

.team-row {
	text-transform: uppercase;
	color: var(--white);
}

.team-row td {
	padding: 5px 15px;
	text-align: center;
	font-size: 15px;
}

.score-cell {
	color: #5ce1e6;
	font-weight: bold;
}
