.container {
    width: 100%;
    height: 100%;
    padding: 50px 5px 20px;
    background: #FFF9FE;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 100%;
    height: 47px;
    text-align: center;
}

.title span {
    color: #F7AEF8;
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
}

.title span:nth-child(2) {
    color: #392F5A;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.input-label div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    background: #FFF9FE;
}

.input-label div div {
    text-align: center;
    color: #8B5FBF;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    word-wrap: break-word;
}

.input {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 338px;
    padding: 0 20px;
    border-radius: 20px;
    border: 10px #8B5FBF solid;
}

.input div {
    flex: 1 1 0;
    color: #0B0912;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
    word-wrap: break-word;
}

.button {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 18px 20px;
    margin-top: 20px;
    background: #8B5FBF;
    border-radius: 20px;
    border: 4px #392F5A solid;
}

.button div {
    color: #FFF9FE;
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    word-wrap: break-word;
}
