@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/7732caef9ed946f7916b3f650e8837c2?family=Harding+Text+Web+Regular+Regular);

:root {
  --white: #FFF9FE;
  --light-pink: #FDC5F5;
  --dark-pink: #F7AEF8;
  --purple: #C989EB;
  --dark-purple: #8B5FBF;
  --deep-dark-purple: #392F5A;
  --black: #0B0912;

  --green-white: #F3F6F4;
  --skin: #D6B798;
  --golden: #C7A87C;
  --green: #859E74;
  --dark-green: #70785D;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  font-family: sans-serif, 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}